{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% endblock %}
</head>
<body>
    {% block js %}
        <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}
</body>
</html>